.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.top-margin-10 {
  margin-top: 10px;
}

.resultCount {
  width: 100%;
  border: 2px solid #ffaf4b;
  color: #FFAF18 !important;
  border-radius: 10px;
  font-weight: bolder;
  .navbar-light .navbar-brand {
    color: #FFAF18 !important;
  }
}

.dropdownStyle {
  button {
    color: black;
    background: whitesmoke;
    margin-top: 6px;
  }
}

.sort-by {
  margin-right: 10px !important;
  margin-top: 10px !important;
}

.salary-found {
  margin-top: 10px;
}

.rangeBar {
  width: 100%;
  margin-top: 20px;
  margin-left: 3px;
  .jumbotron {
    width: 100%;
    margin-bottom: 0px;
    -webkit-box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.44);
    box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.44);
  }
}

.range-clor {
  .input-range__track {
  
    background: #FFAF18;
  }
}

.price {
  color: #FFAF18;
  margin-left: 15px;
  font-weight: bold;
  font-size: xx-large;
}

.paginate {
  margin-top: 20px !important;
  margin-bottom: 20px;
  margin-left: 30%;
}

.middlecontainer {
  margin-left: 9%;
}

.font-color {
  color: #FFAF18;
}

.sideCard {
  -webkit-box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.44);
  -moz-box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.44);
  box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.44);
  padding-top: 31px;
  padding-left: 48px;
}

.sideCardB {
  padding-top: 60px;
  -webkit-box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.44);
  -moz-box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.44);
  box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.44);
  margin-top: 20px;
}

.grad1 {
  background-color: #FFAF18;
}
